# EditorConfig helps developers define and maintain consistent
# coding styles between different editors and IDEs
# editorconfig.org

root = true

[*]
indent_style = space
indent_size = 2
end_of_line = lf
charset = utf-8
trim_trailing_whitespace = true
insert_final_newline = true

# file type specific overrides
# unset will result in using the editor default

[*.md]
trim_trailing_whitespace = false
indent_size = 4

[*.{cjs,mjs,js,jsx,ts,tsx,d.ts,css,html}]
indent_style = tab
indent_size = unset
quote_type = "double"
