language: node_js
sudo: false
dist: precise

node_js:
    - "10"
    - "8"
    - "6"

cache:
  directories:
  - node_modules

services:
  - rabbitmq
  - redis-server

addons:
  apt:
    sources:
      - sourceline: 'ppa:mosquitto-dev/mosquitto-ppa'
    packages:
      - mosquitto

before_script:
  # install NATS server
  - wget https://github.com/nats-io/gnatsd/releases/download/v1.3.0/gnatsd-v1.3.0-linux-amd64.zip -qO gnatsd.zip
  - unzip gnatsd.zip
  - ./gnatsd-v1.3.0-linux-amd64/gnatsd &

script:
  - npm run test:travis

after_success:
  - npm run coverall
