language: node_js
sudo: false
dist: precise
services:
  - rabbitmq
cache:
  directories:
  - node_modules
node_js:
    - "8"
    - "6"
script:
  - npm test && npm run test:amqp
after_success:
  - npm run coverall
