name: CI test

on:
  push:
    branches:
      - '**'
    paths-ignore:
      - 'benchmark/**'
      - 'dev/**'
      - 'examples/**'
      - '*.md'

  pull_request:
    branches:
      - master
    paths-ignore:
      - 'benchmark/**'
      - 'dev/**'
      - 'examples/**'
      - '*.md'

jobs:
  test:
    runs-on: ubuntu-latest
    strategy:
      matrix:
        node-version: [18.x, 20.x, 22.x]
      fail-fast: false

    steps:
    - uses: actions/checkout@v4

    - name: Use Node.js ${{ matrix.node-version }}
      uses: actions/setup-node@v4
      with:
        node-version: ${{ matrix.node-version }}

    - name: Cache node modules
      uses: actions/cache@v4
      env:
        cache-name: cache-node-modules
      with:
        # npm cache files are stored in `~/.npm` on Linux/macOS
        path: ~/.npm
        key: ${{ runner.os }}-build-${{ env.cache-name }}-${{ hashFiles('**/package-lock.json') }}
        restore-keys: |
          ${{ runner.os }}-build-${{ env.cache-name }}-
          ${{ runner.os }}-build-
          ${{ runner.os }}-

    - name: Disable proto
      run: export NODE_OPTIONS=--disable-proto=delete

    - name: Install dependencies
      run: npm ci

    - name: Execute unit tests
      run: npm run test

    - name: Execute Typescript tests
      run: npm run test:ts

    - name: Execute ESM tests
      run: npm run test:esm

    - name: Upload code coverage
      if: github.repository == 'moleculerjs/moleculer'
      uses: coverallsapp/github-action@v2
