name: Publish Any Commit
on:
  pull_request:
    paths-ignore:
      - 'benchmark/**'
      - 'dev/**'
      - 'examples/**'
      - '*.md'  
  push:
    branches:
      - '**'
    tags:
      - '!**'
    paths-ignore:
      - 'benchmark/**'
      - 'dev/**'
      - 'examples/**'
      - '*.md'      

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v3

      - uses: actions/setup-node@v4
        with:
          node-version: 18

      - name: Cache node modules
        uses: actions/cache@v3
        env:
          cache-name: cache-node-modules
        with:
          # npm cache files are stored in `~/.npm` on Linux/macOS
          path: ~/.npm
          key: ${{ runner.os }}-build-${{ env.cache-name }}-${{ hashFiles('**/package-lock.json') }}
          restore-keys: |
            ${{ runner.os }}-build-${{ env.cache-name }}-
            ${{ runner.os }}-build-
            ${{ runner.os }}-          

      - name: Install dependencies
        run: npm ci

      - name: Publish
        run: npx pkg-pr-new publish
